<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["index"]}); %>
</head>

<body>
  <div class="ly_container">
    <div class="ly_container_inner">
      <div class="bl_drawerMenuCover"></div>
      <div class="js_navTrigger"></div>
      <!-- HEADER -->
      <%# ----------------_headerを読み込む---------------- %>
      <%- include('./_header.ejs') %>
      <!-- / HEADER -->

      <div class="bl_content">
        <!-- hero -->
        <%# ----------------_heroを読み込む---------------- %>
        <%- include('./_hero.ejs') %>
        <!-- / hero -->


        <div class="bl_mainContent">

          <!-- asideLeft -->
          <%# ----------------_asideLeftを読み込む---------------- %>
          <%- include('./_asideLeft.ejs') %>
          <!-- / asideLeft -->

          <main>
            <!-- travel -->
            <section class="bl_travel  ly_contentWidth">
              <div class="bl_travel_inner bl_flex">
                <figure class="bl_travel_figure bl_coverSlide">
                  <img class="bl_coverSlide_img" src="./img/image-travel.jpg" alt="" />
                </figure>
                <div class="bl_travel_textOuter bl_appear bl_appear__left">
                  <div class="bl_travel_textInner">
                    <div class="bl_travel_title el_mainTitle js_inView bl_appear_item">
                      <span class="hp_cWineRed">Travel</span>
                      <span>the world</span>
                    </div>
                    <div class="bl_travel_subTitle el_subTitle bl_appear_item">世界中を旅しよう</div>
                    <div class="bl_travel_description bl_appear_item">
                      <p class="bl_travel_descriptionText">
                        世界１５０ヶ国で<br />利用できる民泊サービスです。
                      </p>
                      <p class="bl_travel_descriptionText">あなたの望む宿がきっと見つかります。</p>
                    </div>
                    <div class="bl_travel_btnArea bl_appear_item">
                      <button class="el_btn el_btn__slideLeft">もっと詳しく</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- / travel -->

            <!-- house -->
            <section class="bl_houses ly_contentWidth">
              <div class="bl_houses_titleArea">
                <h2 class="bl_houses_mainTitle bl_gsapAnimationTxt el_mainTitle">
                  Find Your House
                </h2>
                <p class="bl_houses_mainTitle bl_gsapAnimationTxt el_subTitle">
                  お気に入りの宿泊先を見つけましょう</p>
              </div>
              <div class="bl_houses_inner bl_flex">

                <div class="bl_houses_item">
                  <div class="bl_coverSlide el_imgHoverDarken el_imgHoverZoom el_picture50 bl_appear">
                    <div class="bl_coverSlide_img" style="background-image: url(./img/villa-1.jpg)">
                    </div>
                  </div>
                  <p class="bl_houses_title">House 1</p>
                </div>

                <div class="bl_houses_item">
                  <div class="bl_coverSlide el_imgHoverDarken el_imgHoverZoom el_picture50">
                    <div class="bl_coverSlide_img" style="background-image: url(./img/villa-2.jpg)"></div>
                  </div>
                  <p class="bl_houses_title">House 2</p>
                </div>

                <div class="bl_houses_item">
                  <div class="bl_coverSlide el_imgHoverDarken el_imgHoverZoom el_picture50">
                    <div class="bl_coverSlide_img" style="background-image: url(./img/villa-3.jpg)"></div>
                  </div>
                  <p class="bl_houses_title">House 3</p>
                </div>

                <div class="bl_houses_item">
                  <div class="bl_coverSlide el_imgHoverDarken el_imgHoverZoom el_picture50">
                    <div class="bl_coverSlide_img" style="background-image: url(./img/villa-4.jpg)"></div>
                  </div>
                  <p class="bl_houses_title">House 4</p>
                </div>
                <div class="bl_houses_item">
                  <div class="bl_coverSlide el_imgHoverDarken el_imgHoverZoom el_picture50">
                    <div class="bl_coverSlide_img" style="background-image: url(./img/villa-5.jpg)"></div>
                  </div>
                  <p class="bl_houses_title">House 5</p>
                </div>
                <div class="bl_houses_item">
                  <div class="bl_coverSlide el_imgHoverDarken el_imgHoverZoom el_picture50">
                    <div class="bl_coverSlide_img" style="background-image: url(./img/villa-6.jpg)"></div>
                  </div>
                  <p class="bl_houses_title">House 6</p>
                </div>

                <div class="bl_houses_btnArea bl_appear bl_appear__up">
                  <button class="el_btn el_btn__3dCube bl_appear_item">
                    <span class="el_btn_txt">ホバー</span>
                    <span class="el_btn_txt">3dボタン</span></button>
                </div>

              </div>
            </section>
            <!-- / house -->



            <!-- popular -->
            <section class="bl_popular">
              <div class="bl_popular_titleArea ly_contentWidth">
                <h2 class="bl_popular_mainTitle bl_gsapAnimationTxt el_mainTitle">Popular Place</h2>
                <p class="bl_popular_subTitle bl_gsapAnimationTxt el_subTitle">人気の観光地で宿泊先を見つけましょう</p>
              </div>
              <div class="bl_popular_inner bl_appear bl_appear__up">
                <div class="bl_popular_container bl_flex ly_contentWidth">
                  <div class="bl_popular_item bl_appear_item">
                    <figure class="bl_popular_figure">
                      <img class="bl_popular_img" src="./img/image-p1.jpg" alt="" />
                    </figure>
                    <div class="bl_popular_title el_fontMd">パリ</div>
                  </div>
                  <div class="bl_popular_item bl_appear_item">
                    <figure class="bl_popular_figure">
                      <img class="bl_popular_img" src="./img/image-p2.jpg" alt="" />
                    </figure>
                    <div class="bl_popular_title el_fontMd">ニューヨーク</div>
                  </div>
                  <div class="bl_popular_item bl_appear_item">
                    <figure class="bl_popular_figure">
                      <img class="bl_popular_img" src="./img/image-p3.jpg" alt="" />
                    </figure>
                    <div class="bl_popular_title el_fontMd">香港</div>
                  </div>
                  <div class="bl_popular_item bl_appear_item">
                    <figure class="bl_popular_figure">
                      <img class="bl_popular_img" src="./img/image-p4.jpg" alt="" />
                    </figure>
                    <div class="bl_popular_title el_fontMd">大阪</div>
                  </div>
                  <div class="bl_popular_btnArea bl_appear bl_appear__up">
                    <button class="el_btn el_btn__3dClose bl_appear_item">3dクローズボタン</button>
                  </div>
                </div>
              </div>
            </section>
            <!-- / popular -->
          </main>

          <!-- asideRight -->
          <%# ----------------_asideRightを読み込む---------------- %>
          <%- include('./_asideRight.ejs') %>
          <!-- / asideRight -->

        </div>
        <!-- / bl_mainContent -->
      </div>
      <!-- / .bl_content -->

      <!-- FOOTER -->
      <%# ----------------_footerを読み込む---------------- %>
      <%- include('./_footer.ejs') %>
      <!-- / FOOTER -->

    </div>
    <!-- / .ly_container_inner -->

    <nav class="bl_drawerMenu">
      <div class="bl_logo">
        <img src="./img/logo.svg" alt="" class="bl_logo_img" />
        <span class="bl_logo_stay">Stay</span>
        <span class="bl_logo_world">World</span>
      </div>
      <ul class="bl_drawerMenu_ul">
        <li class="bl_drawerMenu_li">
          <a class="bl_drawerMenu_link" href="#">
            <span class="bl_drawerMenu_mainTitle">Our Service</span>
            <span class="bl_drawerMenu_subTitle">サービスについて</span>
          </a>
        </li>
        <li class="bl_drawerMenu_li">
          <a class="bl_drawerMenu_link" href="#">
            <span class="bl_drawerMenu_mainTitle">About Us</span>
            <span class="bl_drawerMenu_subTitle">私たちについて</span>
          </a>
        </li>
        <li class="bl_drawerMenu_li">
          <a class="bl_drawerMenu_link" href="#">
            <span class="bl_drawerMenu_mainTitle">Contact Us</span>
            <span class="bl_drawerMenu_subTitle">コンタクト方法</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- / .ly_container -->


  <!-- バンドル -->
  <script src="./js/bundle.js"></script>



</body>

</html>